<div class="container">

    <div class="col-md-6">
        {{diagnostic}}
        <h1> Simple Form </h1>
        <form (ngSubmit)="onSubmit()" #mover="ngForm">

            <div class="form-group">

                <label>Firstname</label>
                <input class="form-control" type="text"  id="firstname"     required [(ngModel)]="model.firstname" name="firstname" #firstname="ngModel" />
         
                <div [hidden]="firstname.valid || firstname.pristine"
             class="alert alert-danger">
          Name is required
        </div>

            </div>





            <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" id="lastname" required [(ngModel)]="model.lastname"  name="lastname" #lastname="ngModel"/>
                <div [hidden]="lastname.valid || lastname.pristine"
                class="alert alert-danger">
             Last Name  is required
           </div>

            
            </div>

            <div class="form-group">
                <label>Gender</label>
                <select class="form-control">
                    <option> Male</option>
                    <option> Female</option>
                </select>
            </div>


            <div class="form-group">
                <label> Age </label>
                <select class="form-control">
                    <option>0-5</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>

        </form>

    </div>
</div>
<h1> INTERSTING </h1>
<style>
    a {
        font-size: 15px;
        cursor: pointer;
        color: blue;
        letter-spacing: 2px;
    }
</style>
MOVE
<table>

    <tr *ngFor="let day of week_days">
        <td>
            {{day.name}}

        </td>

    </tr>
</table>
<ul>
    <li *ngFor="let friend of friends" [class.selected]="( editForm.id === friend.id )">

        {{ friend.name }}
        &nbsp;
        &nbsp;
        &nbsp;

        <a (click)="editFriend( friend )">Edit</a> or
        <a (click)="deleteFriend( friend )">Delete</a>

        <div *ngIf="( editForm.id === friend.id )" class="form">

            <input type="text" [value]="editForm.name" (input)="editForm.name = $event.target.value"
                (keydown.Enter)="processEditForm()" />
            <button type="button" (click)="processEditForm()">Update Friend</button>

        </div>
    </li>
</ul>

<div class="form">

    <input type="text" [value]="addForm.name" (input)="addForm.name = $event.target.value"
        (keydown.Enter)="processAddForm()" />
    <button type="button" (click)="processAddForm()">Add Friend</button>

</div>

<router-outlet></router-outlet>